*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}


ul{
    list-style-type: none;
}


.header {
    background-color:#1b1729;
    color:white;
    display:flex;
    justify-content:space-evenly;
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    padding-top:13px;
}

.main{
    /* display:flex;
    justify-content: center; */

}

.img{
    
}

.top{
    display: flex;
    justify-content:center;

}
.body{
    display: flex;
    justify-content: center;
}
.left{
    background-color: white;
    width:33%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    
}
.center{
    background-color: white;
    width:34%;
    height: 400px;
    padding-top: 15px;
}
.right{
    background-color: white;
    width:33%;
    height: 400px;
}

.left-inner{
    background-color: white;
    height: 200px;
    width:170px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 15px;
     text-align: center;
     padding-top: 50px;
    
}
.mid{
    text-align: center;
    padding: 8px;
}
.center-inner{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    border:2px solid grey;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.right-inner{
    padding-top: 15px;
    padding-left: 25px;
}